{% extends 'base.html.twig' %}

{% block title %}New Bidon{% endblock %}

{% block body %}
    <h1>Create new Bidon</h1>

    {{ include('bidon/_form.html.twig') }}

    <a href="{{ path('bidon_index') }}">back to list</a>
{% endblock %}
